body{
    margin:0px;
    padding: 0px;
}


.top-container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center; 
    position: relative;  
}

.top-container::before{
    content:"";
    background-image: url("blog_image.jpg");
    opacity: 0.3;
    height:100vh;
    background-size:cover; 
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-3;
    position: absolute;  
}

.top-container h2{
    color: rgb(56, 7, 52, 0.9);
    font-family :cursive;
    font-size: 55px; 
    opacity:1;
    text-align: center;
    padding:40px;
}

.bottom-container{
    margin: 10px 6%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgb(218, 198, 228);
    align-items: center;
    transition: background-color 0.7s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    
}

.navbar ul li a{
    text-decoration: none;
    margin: 0px 13px;
    color: rgb(57, 130, 226);
    font-family: cursive;
}

.navbar ul li a:hover{
    color: rgb(238, 9, 9);
}


.navbar.active{
    background-color: yellow ;
    color:black;
}


.navbar.active ul li a{
    color: black ;
}

.navbar.active ul li a:hover{
    color: red;
}








